---
layout: default
---

<hr/>

<article class='page'>
  {% if page.img %}
    <a href="{{ page.img_src }}">
      <img src="{{ page.img }}" alt="{{ page.img_alt }}" style="float:right;width:450px;padding:5px;" />
    </a>
  {% endif %}
  <div class="page-date"><small>{{ page.date | date: "%-d %B %Y" }}</small></div>
  <h1 class='page-title'>
    {{ page.title }}
  </h1>
  {{ content }}
</article>

{% if page.tags %}
  <p><small>tags: <em>{{ page.tags | join: "</em> - <em>" }}</em></small></p>
{% endif %}

<hr/>
